html {
    box-sizing: border-box;
    background: green;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.content {
    padding: 20px;
}

.container {
    margin: 0 auto;
}

h1 {
    font-size: 5rem;
    text-align: center;
    margin-top: 0;
}

h3 {
    margin: 0;
}

.half-col {
    width: 50%;
    float: left;
}

.mole {
    float: left;
    width: 33.3%;
    min-height: 15vw;
    overflow: hidden;
    position: relative;
    // create the illusion of a mole hole
    &:after {
        content: ' ';
        width: 90%;
        height: 15%;
        position: absolute;
        bottom: 0;
        left: 5%;
        padding: 0 10px;
        background: #000000;
        border-radius: 50%;
    }
    &:before {
        content: ' ';
        display: block;
        background-image: url(../images/pp2.png);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
        transition: transform .3s ease;
        transform: translateY(500px);
        height: 15vw;
    }
    &.active {
        cursor: pointer;
        &:before {
            transform: translateY(5px);
        }
        &.slow {
            pointer-events: none;
            &:before {
                transition: transform 1s ease;
            }
        }
        &.whacked {
            pointer-events: none;
            &:before {
                background-image: url(../images/ppwhack2.png);
            }
        }
    }
}

.toggle-content {
    display: none;
}

.toggle-content.is-visible {
    display: block;
}
